/* Daftar Isi CSS custom Colabs   */

/* ----------------------------   */

/* 1. Tambahan Font dan pengaturan Text Input   */

/* 2. Card dan mod Owl Caraousel       */

/* 3. Divider, Line & Misc             */

/* 4. MOD button dan Share button      */

/* 5. Tentang video dan iframe embed   */

/* 6. MOD Navbar, MOD title, MOD paragraph */

/* ===============================
1. Font dan pengaturan Text Input, Blog & article
================================ */

input[type="text"] {
  font-size: 1.1em;
  color: black !important;
  height: calc(2.75rem + 2px);
}

input[type="password"],
input[type="email"] {
  font: normal 0.95rem Verdana;
  height: calc(2.75rem + 2px);
  box-sizing: border-box;
  -webkit-appearance: none
}

input[type="password"] {
  font: bold 0.95rem Verdana;
}

.toggle {
  background: none;
  border: none;
  color: #555;
  /*display: none;*/
  /*font-size: .9em;*/
  font-weight: 600;
  /*padding: .5em;*/
  position: absolute;
  right: .75em;
  top: .75em;
  z-index: 9;
}

.eyeIcon {
  font-size: 2rem;
}

/* Input pencarian */

.btn--primary {
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 12px 36px;
}

.btn--primary:hover {
  background: #6c7ff2;
}

.btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.btn--inside {
  margin-left: -80px;
}

.form__field {
  width: 60%;
  background: #fff;
  color: #000000;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  border: 0;
  outline: 0;
  padding: 32px 18px;
}

@media all and (max-width: 800px) {
  .form__field {
    width: 80%
  }
}

@media all and (max-width: 500px) {
  .form__field {
    width: 90%;
    margin-left: -4px;
  }

  .btn--inside {
    margin-left: -90px;
  }
}

/* akhir dari input pencarian */

/* Konten dan Post */

a:active {
  outline: 0
}

blockquote {
  font-size: 1.2rem !important;
  font-weight: 400;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  color: coral;
  line-height: 1.6em;
  border: none
}

blockquote cite {
  display: block;
  font-size: 12px;
  color: #666;
  margin-top: 10px
}

blockquote cite:before {
  content: "\2014 \0020"
}

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555
}

.pullquote-left {
  display: block;
  color: #a2a2a2;
  font-family: 'Noto Serif', serif;
  font-size: 14px;
  line-height: 1.6em;
  padding-left: 20px
}

.pullquote-right {
  display: block;
  color: #a2a2a2;
  font-family: 'Noto Serif', serif;
  font-size: 14px;
  line-height: 1.6em;
  padding-right: 20px
}

.post-heading h3 {
  padding: 0px 1rem;
  margin-bottom: 20px
}

/* di edit */

.isi {
  padding: 1rem 5rem
}

.post-heading h3 a {
  font-weight: 400;
  color: #353535
}

.post-heading h3 a:hover {
  text-decoration: none
}

/* --- post meta --- */

.post-meta {
  background: #fcfcfc;
  border: 1px solid #d6d6d6;
  border-top: none;
  text-align: center
}

.post-meta .format {
  border-bottom: 1px solid #d6d6d6;
  padding: 10px 0 10px
}

.post-meta i {
  margin: 0
}

.post-meta .date {
  border-bottom: 1px solid #d6d6d6;
  padding: 10px 0 10px
}

.post-meta .date span {
  text-align: center;
  color: #999;
  font-size: 12px;
  font-weight: 600
}

.post-meta .comments {
  padding: 10px 0 10px
}

.post-meta .comments a {
  color: #999;
  font-size: 12px;
  font-weight: 700
}

.post-meta .comments a:hover {
  text-decoration: none
}

/* --- post format --- */

.post-image {
  margin-bottom: 20px
}

.post-quote {
  margin-bottom: 20px
}

.post-video {
  margin-bottom: 20px
}

.post-audio {
  margin-bottom: 20px
}

.post-link {
  margin-bottom: 20px
}

.post-slider {
  margin-bottom: 20px
}

.post-quote blockquote {
  font-size: 16px;
  color: #999;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  line-height: 1.6em
}

ul.meta-post {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none
}

ul.meta-post li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
  border-right: 1px dotted #e9e9e9;
  padding-right: 10px
}

ul.meta-post li i {
  float: left;
  font-size: 12px;
  margin: 2px 5px 0 0
}

ul.meta-post li a {
  color: #999;
  float: left;
  font-size: 12px;
  font-weight: 600
}

/* --- Comment --- */

.comment-area {
  float: left;
  width: 100%;
  margin-top: 20px
}

.divider-comment-area {
  border-top: #a0a0a0 1px solid;
}

.media-content {
  overflow: hidden;
  margin-left: 12px;
  border-bottom: 1px dashed #c7c7c7;
  padding-bottom: 20px
}

.media-content h6 {
  font-size: 14px;
  font-weight: 700
}

.media-content span {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 300
}

.comment-area .thumbnail>img {
  display: block;
  width: 60px;
  height: 60px
}

.filter-list {
  margin-top: 20px
}

/* ===============================
2. Card dan MOD Owl Carousel
================================ */


/* super smooooottthhh hover card untuk carousel */

.box {
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06); */
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
  transition: all 0.2s ease-in-out 0s;
}

@media screen and (min-width: 580px) {
  .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.11), 0 5px 8px rgba(105, 105, 105, 0.2)
  }
}

.card-title {
  clear: both;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  /* n baris dikali X tinggi */
  max-height: 24px;
  /* hasilnya */
  -webkit-line-clamp: 1;
  /* jumlah baris yang akan ditampilkan */
  -webkit-box-orient: vertical
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  /* n baris dikali X tinggi */
  max-height: 72px;
  /* hasilnya */
  -webkit-line-clamp: 3;
  /* jumlah baris yang akan ditampilkan */
  -webkit-box-orient: vertical
}

.widthbox {
  width: 18rem;
  /* biar align ke tengah semua cardnya */
  margin: 2rem auto
}

@media (max-width: 767px) {
  .widthbox {
    width: 16rem
  }
}

@media screen and (max-width: 400px) {
  .widthbox {
    width: 14rem;
    margin: 0 auto
  }
}

/* bagian ini mengatur besar gambar diseluruh card */
.container [class*=card] img {
  height: 200px;
  /* untuk mencrop otomatis gambar gunakan object fit */
  object-fit: cover;
}


/* carousel siema lightweight */

.siema {
  position: relative;
  margin: 1rem 0;
}

.siema>button:nth-of-type(1) {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 0px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  background: #9c27b0;
  transition: all 0.3s ease-in-out
}

.siema>button:nth-of-type(1):hover {
  background: #861b99;
  color: #FFF;
  text-decoration: none
}

.siema>button:nth-of-type(2) {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 0px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  background: #9c27b0;
  transition: all 0.3s ease-in-out
}

.siema>button:nth-of-type(2):hover {
  background: #861b99;
  color: #FFF;
  text-decoration: none
}

/* akhir dari carousel edit custom navigasi */


/* card untuk crowdfunding */


.ticket-card {
  margin-top: 15vh;
  margin-bottom: 15vh;
  background: #FFFFFF;
  border-radius: 4px;
}

/* hanya akan beranimasi di desktop */
@media screen and (min-width: 580px) {

  .ticket-card:hover .cover img,
  .ticket-card.active .cover img {
    -moz-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    transform: translate(0, -20px);
    box-shadow: 0 10px 20px -4px rgba(22, 22, 22, 0.5);
  }
}

.ticket-card .cover {
  border-radius: 4px 4px 0 0;
  position: relative;
  margin: 15px;
}

.ticket-card .cover img {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-top: -30px;
  box-shadow: 0 10px 16px -6px rgba(22, 22, 22, 0.5);
  border-radius: 4px;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 300ms ease, opacity 300ms ease;
}

.ticket-card .funding {
  float: left;
}

.ticket-card .funding .info {
  font-size: 12px;
  text-transform: uppercase;
  color: #BBBBBB;
  margin-bottom: 0;
}

.ticket-card .funding .name {
  font-weight: 200;
  font-size: 22px;
  margin-top: 5px;
}

.ticket-card .ticket {
  float: left;
}

.ticket-card .price {
  float: right;
  text-align: right;
}

.ticket-card .price .from {
  font-size: 14px;
  color: #555;
}

.ticket-card .price .value {
  font-size: 24px;
  font-weight: 200;
  color: #FF7433;
  margin-top: -5px;
}

.ticket-card .body {
  padding: 5px 30px;
}

.ticket-card .body .info {
  color: #777777;
}

.ticket-card .body .date {
  padding-top: 10px;
}

.ticket-card .body .date {
  float: right;
  text-align: right;
  font: 0.9rem sans-serif;
}

.ticket-card .body .progress {
  height: 10px !important;
}

.ticket-card .body .fa {
  color: #CCCCCC;
  margin-right: 5px;
}

.ticket-card .footer .btn {
  width: 40%;
  text-transform: uppercase;
}

.ticket-card .footer .btn:focus,
.ticket-card .footer .btn:hover,
.ticket-card .footer .btn:active {
  outline: none !important;
}





/* card untuk foto profil */

/* hanya untuk keperluan rounded avatar card */

.card-profile .card-avatar {
  width: 130px;
  max-width: 130px;
  max-height: 130px
}

.card-profile [class*=col-] .card-avatar {
  width: auto
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.11), 0 5px 8px rgba(105, 105, 105, 0.2)
}

.card-profile .card-avatar img,
.card-testimonial .card-avatar img {
  width: 100%;
  height: auto
}

.card-plain.card-profile .card-avatar,
.card-plain.card-testimonial .card-avatar {
  margin-top: 0
}

.card-testimonial .card-avatar {
  max-width: 100px;
  max-height: 100px
}

.card-testimonial .card-footer .card-avatar {
  margin-top: 10px;
  margin-bottom: -60px
}

/* end of card customization */

/* di edit untuk kecepatan animasi input */

.form-control:focus,
.bmd-form-group.is-focused .form-control {
  background-size: 100% 100%, 100% 100%;
  transition: all 0.2s ease-in-out;
  box-shadow: none
}



/* Team Section Card
--------------------------------*/

#team .team-block {
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.06);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%
}

@media (max-width: 991px) {
  #team .team-block {
    margin-bottom: 30px
  }
}

#team .team-block img {
  width: 100%
}

#team .team-block .team-content {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s
}

#team .team-block .team-content ul {
  display: block;
  width: 100%
}

#team .team-block .team-content ul li {
  display: inline-block
}

#team .team-block .team-content ul li a {
  color: #626262
}

#team .team-block .team-content ul li a .fa {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s
}

/* di edit */

#team .team-block .team-content ul li a .fa:hover {
  color: #f44336
}

#team .team-block .team-content ul>span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase
}

#team .team-block:hover .team-content {
  bottom: 0px;
  transition: all 0.5s ease-in-out 0s
}

/* hover fb yang ada di profil page */

.name a .fa:hover {
  color: #f44336
}

/* ===============================
15. Aside, sidebar
================================ */

/* di edit dari relative jadi none */

aside {
  position: none;
  margin-bottom: 40px
}

.sidebar-nav {
  float: left;
  width: 100%
}

/* di edit */

.right-sidebar {
  /* border-left: 1px solid #e9e9e9; */
  /* padding: 0 0 0 30px; */
  padding: 0 30px 0 0;
  /* -webkit-box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, .01);
  box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, .01) */
}

/* di edit */

.left-sidebar {
  /* border-right: 1px solid #e9e9e9; */
  padding: 0 15px 0 0;
  /* -webkit-box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, .01);
  box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, .01) */
}

/* kebutuhan post */

@media all and (max-width: 800px) {
  .left-sidebar {
    padding: 0px;
    border-right: none
  }

  .right-sidebar {
    padding: 0px;
    border-left: none
  }

  .isi {
    padding: 2rem 3rem 1rem
  }
}

.left-sidebar .widget h3,
.left-sidebar .widget .widget-content {
  padding-right: 20px
}

aside .widget {
  margin-bottom: 40px
}

ul.cat,
ul.recent,
ul.folio-detail,
ul.contact-info {
  margin: 0;
  padding: 0;
  list-style: none
}

ul.cat li,
ul.recent li,
ul.folio-detail li,
ul.contact-info li {
  margin: 0 0 15px 0;
  list-style: none
}

ul.cat li a,
ul.folio-detail li a {
  color: #656565
}

ul.folio-detail li label {
  display: inline;
  cursor: default;
  color: #353535;
  font-weight: bold
}

.widget ul.recent li {
  margin-bottom: 20px
}

ul.recent li h6 {
  margin: 0 0 10px 0
}

ul.recent li h6 a {
  color: #353535;
  font-size: 16px;
  font-weight: 600
}

.widget ul.tags {
  list-style: none;
  margin: 0
}

.widget ul.tags li {
  margin: 0 5px 15px 0;
  display: inline-block
}

.widget ul.tags li a {
  background: #eee;
  color: inherit;
  padding: 5px 5px
}

/* di edit */

.widget ul.tags li a:hover {
  text-decoration: none;
  color: #f44336
}

/* --- Recent post widget --- */

.recent-post {
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 18px
}

.recent-post h5 a:hover {
  text-decoration: none
}

.recent-post .text h5 a {
  color: #353535
}

ul.time-post {
  float: left;
  width: 120px;
  padding: 0;
  list-style: none;
  margin: 0 20px 0 0;
  text-align: center;
  color: #0e0f0f
}

ul.time-post li {
  float: none;
  background: #f8f8f8;
  list-style: none;
  margin: 0 0 2px 0;
  padding: 0
}

ul.time-post li a img:hover {
  opacity: 0.8;
  /* For IE 5-7 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  /* For IE 8 8 */
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
}

ul.time-post li.time {
  float: none;
  padding: 5px 0 5px 0;
  text-shadow: none
}

.recent-post ul.time-post li.time {
  color: #121214
}

.post-meta {
  margin-bottom: 20px
}

.post-meta span {
  padding: 0 10px 0 10px;
  margin-bottom: 10px
}

.post-meta span a {
  color: #919191
}

.post-meta strong {
  font-weight: 200px;
  color: #c7c7c7
}

.item .text {
  margin-left: 140px;
  margin-bottom: 20px
}

/* ===============================
3. Divider, Line & Misc
================================ */

.solidline {
  border-top: 1px solid #d6d6d6;
  margin: 0 0 30px
}

.dottedline {
  border-top: 1px dotted #d6d6d6;
  margin: 0 0 30px
}

.dashedline {
  border-top: 1px dashed #d6d6d6;
  margin: 0 0 30px
}

.blankline {
  height: 1px;
  margin: 0 0 30px
}

/* untuk keperluan table dan pewarnaan table dashboard */

tbody:nth-child(odd) {
  background: #f3f3f3
}

tbody:nth-child(even) {
  background: #fdfdfd
}

.collapsible {
  background-color: #666;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px
}

.col-active,
.collapsible:hover {
  background-color: #3C4858
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px
}

.col-active:after {
  content: "\2212"
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0s;
  background-color: #fafafa
}

/* ===================================
4. MOD button dan Share button
==================================== */

/* tambahan tombol css */

.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 14px;
  padding: 1em 2em;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FF5733;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.05s, box-shadow ease-in 0.25s;
}

.bubbly-button:hover {
  box-shadow: 0 2px 25px rgba(255, 72, 0, 0.5);
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FF5733 20%, transparent 30%), radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FF5733 15%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FF5733 15%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%), radial-gradient(circle, #FF5733 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  transform: scale(0.9);
  background-color: #FF7433;
  box-shadow: 0 2px 25px rgba(255, 102, 0, 0.2);
}

.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* share button */

#container-floating {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 0px;
  z-index: 99
}

.gambar-share {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: white;
  line-height: 40px
}

.round {
  border-radius: 50%;
}

.fab {
  transition: all 400ms ease-in-out;
  width: 58px;
  height: 58px;
  background-color: #f44336;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  bottom: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  color: white;
  font-size: 2em;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.fab i {
  transition: all 300ms ease-in-out;
  will-change: transform;
}

.inner-fabs .fab {
  width: 45px;
  height: 45px;
  right: 38px;
  bottom: 20px;
  font-size: 1.5em;
  will-change: bottom;
  box-shadow: none;
  background-color: transparent
}


@keyframes bounce-nds {
  from {
    opacity: 0;
    transform: scale(0.8)
  }

  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes bounce-out-nds {
  from {
    opacity: 1;
    transform: scale(1)
  }

  to {
    opacity: 0;
    transform: scale(0)
  }
}

.inner-fabs.show .fab:nth-child(1) {
  bottom: 90px;
  animation-name: bounce-nds;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.inner-fabs.show .fab:nth-child(2) {
  bottom: 150px;
  animation-name: bounce-nds;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.inner-fabs.show .fab:nth-child(3) {
  bottom: 210px;
  animation-name: bounce-nds;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.inner-fabs.show .fab:nth-child(4) {
  bottom: 270px;
  animation-name: bounce-nds;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.inner-fabs.show .fab:nth-child(5) {
  bottom: 330px;
  animation-name: bounce-nds;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.inner-fabs.show .fab:nth-child(6) {
  bottom: 390px;
}

.inner-fabs.show+.fab i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fab:before {
  content: attr(data-tooltip);
  transition: opacity 150ms cubic-bezier(0.4, 0, 1, 1);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #ececec;
  right: 50px;
  top: 25%;
  background-color: rgba(70, 70, 70, 0.9);
  font-size: 0.5em;
  line-height: 1em;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
  padding: 6px 8px;
  max-width: 200px;
  font-weight: bold;
  text-overflow: ellipsis;
  vertical-align: middle;
}


/* akhir dari sharebutton */





/* ===================================
5. Tentang Video iframe
==================================== */

/* modifikasi header index.html (halaman utama) jika ada di mobile, buat auto tingginya 
kenapa? agar kontainer video nya kelihatan, padding dan margin berpengaruh */

.collapsible {
  font-size: 16px
}

@media screen and (max-width: 580px) {
  .header-video {
    height: auto !important
      /* vh jika tidak pada mobile */
  }

  .row-video {
    margin-top: 50px;
    margin-bottom: 100px
  }
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.plyr {
  border-radius: 16px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  margin: 0 10em
}

@media (max-width: 1024px) {
  .plyr {
    margin: 0
  }
}

@media (min-width: 480px) {
  .plyr--video .plyr__controls {
    padding: 1em 1.5em 1.5em;
  }
}


/* overwriting judul section */

.title-section {
  color: #9c27b0
}

/* hapus padding yang ada di area video detailpodcast */

@media all and (max-width:600px) {
  .no-gutter>[class*='col-md-8'] {
    padding-right: 0px;
    padding-left: 0px
  }
}

.plyr__control--overlaid,
.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
  background: #b882ff !important
}

.plyr--full-ui input[type=range] {
  color: #b882ff !important
}




/* 6. Custom Navbar dan Title */

/* navbar kustomisasi */


/* tambahan untuk membuat warna font navbar jadi hitam */

.navbar.navbar-transparent.dark {
  background-color: transparent !important;
  box-shadow: none;
  padding-top: 25px;
  color: inherit
}

@media all and (max-width:991px) {
  .navbar.navbar-transparent.dark .navbar-toggler .navbar-toggler-icon {
    background-color: #2B4D59
  }
}



.navbar.fixed-top {
  background: transparent !important;
}

.navbar.fixed-top:not(.navbar-transparent) {
  padding: 10px 0 0 0;
}

.navbar.blurry:not(.navbar-transparent) .blurrer {
  height: 70px;
  position: fixed;
  overflow: hidden;
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  -moz-backdrop-filter: saturate(180%) blur(10px);
  -o-backdrop-filter: saturate(180%) blur(10px);
  -ms-backdrop-filter: saturate(180%) blur(10px);
  background: rgba(255, 255, 255, .9);
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28), 0 5px 8px -5px rgba(0, 0, 0, 0.1);
}